<%- include('../layouts/main') -%>

<div class="admin-dashboard">
  <h2>Panel de Administración</h2>
  <p>
    <!-- Botón que controla el collapse -->
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVisualizar"
      aria-expanded="false" aria-controls="collapseVisualizar">
      Visualizar Registros
  </button>
</p>

<!-- Contenido colapsable con list-group adentro -->
<div class="collapse" id="collapseVisualizar">
  <div class="card card-body">
    <div class="list-group">
      <a href="/admin/empresas" class="list-group-item list-group-item-action">Visualizar Empresa</a>
      <a href="/admin/proveedores" class="list-group-item list-group-item-action">Visualizar Proveedor</a>
      <a href="/admin/users" class="list-group-item list-group-item-action">Visualizar Usuario</a>
      <a href="/admin/rol" class="list-group-item list-group-item-action">Visualizar Roles</a>
      <a href="/admin/categorias" class="list-group-item list-group-item-action">Visualizar Categorías</a>
      <a href="/admin/clientes" class="list-group-item list-group-item-action">Visualizar Clientes</a>
      <a href="/admin/empleados" class="list-group-item list-group-item-action">Visualizar Empleados</a>
      <a href="/admin/gastos" class="list-group-item list-group-item-action">Visualizar Gastos</a>
      <a href="/admin/empresas" class="list-group-item list-group-item-action">Visualizar Empresas</a>
      <a href="/admin/pedidos" class="list-group-item list-group-item-action">Visualizar Pedidos</a>
      <a href="/admin/productos-procesados" class="list-group-item list-group-item-action">Visualizar productos procesados</a>
      
    </div>
  </div>
</div>
    